<footer class="main-footer text-sm">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2022-2023 <a href="https://pshealthpunjab.gov.pk/Home/HISDU">Health Information & Service Delivery Unit (HISDU)</a>.</strong> All rights
    reserved.
</footer>


